<a href="https://colab.research.google.com/github/daehoon0917/Studying-Coding-Test/blob/coding/Chapter_08_%EB%8B%A4%EC%9D%B4%EB%82%98%EB%AF%B9_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

8-1.py 피보나치 함수 소스코드

In [ ]:
def fibo(x):
  if x == 1 or x == 2:
    return 1
  return fibo(x-1) + fibo(x-2)

print(fibo(4))

3

8-2.py 피보나치 수열 소스코드(재귀적)

In [ ]:
d = [0] * 100

def fibo(x):
  if x == 1 or x == 2:
    return 1
  if d[x] != 0:
    return d[x]
  d[x] = fibo(x-1) + fibo(x-2)
  return d[x]

print(fibo(99))

218922995834555169026

8-3.py 호출되는 함수 확인

In [ ]:
d = [0] * 100

def fibo(x):
  print('f(' + str(x) + ')',end = ' ')
  if x == 1 or x == 2:
    return 1
  if d[x] != 0:
    return d[x]
  d[x] = fibo(x-1) + fibo(x-2)
  return d[x]

fibo(6)

f(6) f(5) f(4) f(3) f(2) f(1) f(2) f(3) f(4)

8

8-4.py 피보나치 수열 소스코드(반복적)

In [ ]:
d = [0] * 100

d[1] = 1
d[2] = 1
n = 99

for i in range(3,n+1):
  d[i] = d[i-1]+d[i-2]

print(d[n])

218922995834555169026

1로 만들기

In [ ]:
x = int(input())

d = [0] * 30001

for i in range(2,x+1):
  d[i] = d[i-1] + 1
  if i % 2 == 0:
    d[i] = min(d[i],d[i//2]+1)
  if i % 3 == 0:
    d[i] = min(d[i],d[i//3]+1)
  if i % 5 == 0:
    d[i] = min(d[i],d[i//5]+1)

print(d[x])

26
3

In [ ]:
x = int(input())

d = [0] * 30001

for i in range(2,x+1):
  d[i] = d[i-1] + 1
  if i % 2 == 0:
    d[i] = min(d[i],d[i//2]+1)
  if i % 3 == 0:
    d[i] = min(d[i],d[i//3]+1)
  if i % 5 == 0:
    d[i] = min(d[i],d[i//5]+1)

print(d[x])

26
3

개미전사

In [ ]:
n = int(input())

k = list(map(int,input().split()))

d = [0] * 100

d[0] = k[0]
d[1] = max(k[0],k[1])
for i in range(2,n):
  d[i] = max(d[i-1],d[i-2]+k[i])

print(d[n-1])

4
1 3 1 5
8

바닥 공사

In [ ]:
n = int(input())

d = [0] * 1001

d[1] = 1
d[2] = 3
for i in range(3,n+1):
  d[i] = (d[i-1] + 2 * d[i-2])

print(d[n]%796796)

3
5